* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    outline: none;
    font-family: 'Noto Sans Vithkuqi', sans-serif;
}

body {
    background-image: url(assets/5429296.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin: 100px auto 0;
    width: 470px;

    background-image: linear-gradient(to bottom, #3b3b3b, #FFCF99);
    
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
    border-radius: 5px;
}

.up-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;
}

.task-name {
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 8px;
    font-family: 'Noto Sans Vithkuqi', sans-serif;
    font-size: 14px;
    box-shadow: 5px 5px 0 #FFCF99;
}

.btn-add {
    width: 50px;
    height: 50px;
    background-color: #FFCF99;
    border-radius: 50px;
    background-image: url("assets/add_FILL0_wght400_GRAD0_opsz48\ \(2\)\ 1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;

    background-color: #fff;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 5px 5px 0 #FFCF99;
}

.done {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;

    background-color: #b5ffb7;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 5px 5px 0 #72976e;
    text-decoration: line-through;
}

.task img {
    width: 25px;
    cursor: pointer;
}

